body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.page {
  width: 100vw;
  height: 100vh;
}

/* .name {
  text-align: center;
} */

img {
  height: 300px;
  width: 450px;
}
 
.rideCard {
  padding: 10px;
  grid-column: 2;

}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  width: 100vw;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  font-size:  large;
  text-shadow: 2px 2px red;
}